@charset "UTF-8";

#main > .content-container {
    padding: 2rem 0;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
}

#main > .content-container > .title-container > .title {
    font-size: 2.5rem;
}

#resetPasswordForm {
    max-width: 22.5rem;
    align-self: center;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
}

#resetPasswordForm > .message {
    background-color: #ffffff;
    border: 0.0625rem solid #d5d8dcc0;
    border-radius: 0.375rem;
    padding: 1rem 1.25rem;
}

#resetPasswordForm > .label {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    justify-content: flex-start;
}

#resetPasswordForm > .label > .text {
    color: #808b96;
    font-size: 1.125rem;
}

#resetPasswordForm > .label > .horizontal {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    gap: 0.375rem;
    justify-content: flex-start;
}

#resetPasswordForm > .label > .horizontal > .big {
    flex: 1;
}

#resetPasswordForm > .label.contact > .horizontal.contact-container > input {
    width: 100%;
    text-align: center;
}

#resetPasswordForm > .menu {
    margin-top: 1rem;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: flex-start;
}

#resetPasswordForm > .label > .horizontal > .complete {
    max-height: 0;
    background-color: #aed6f1;
    border-radius: 0.375rem;
    color: #1b4f72;
    margin-top: -0.5rem;
    overflow: hidden;
    padding: 0 1rem;
    transition-duration: 250ms;
    transition-property: max-height, margin-top, padding;
    transition-timing-function: ease;
}

#resetPasswordForm > .label > .horizontal > .complete.visible {
    max-height: 2.5rem;
    margin-top: 0;
    padding: 0.625rem 1rem;
}