<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="_article-status" th:content="${article != null && !article.isDeleted()}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 읽기</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">
    <link rel="stylesheet" th:href="@{/article/resources/stylesheets/read.css}">
    <link rel="stylesheet" th:href="@{/article/resources/libraries/ckeditor/ckeditor.css}">
    <script defer th:src="@{/resources/scripts/common.js}"></script>
    <script defer th:src="@{/article/resources/scripts/read.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments.html :: common}"></th:block>
<th:block th:replace="~{fragments.html :: header}"></th:block>
<main class="content-container-wrapper" id="main" th:if="${article != null && !article.isDeleted()}">
    <div class="content-container">
        <div class="title-container">
            <h1 class="title" th:text="${board.getText()}"></h1>
        </div>
        <table class="table" id="articleTable">
            <thead>
            <tr>
                <th>제목</th>
                <td class="full" colspan="3" th:text="${article.getTitle()}"></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td class="half" th:text="${article.getUserNickname()}"></td>
                <th>조회수</th>
                <td class="half" th:text="${article.getView()}"></td>
            </tr>
            <tr>
                <th>작성일시</th>
                <td class="half" th:text="${#dates.format(article.getWrittenAt(), 'yyyy-MM-dd HH:mm:ss')}"></td>
                <th th:if="${article.getModifiedAt() != null}">수정 일시</th>
                <td class="half" th:if="${article.getModifiedAt() != null}" th:text="${#dates.format(article.getModifiedAt(), 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="content ck-content" colspan="4" th:utext="${article.getContent()}"></td>
<!-- -->
            </tr>
            </tbody>
            <tbody>
            <tr>
                <th>첨부파일</th>
                <td class="file-empty" colspan="3" th:if="${files == null || files.length == 0}">첨부 파일이 없습니다.</td>
                <td class="file-wrapper" colspan="3" th:if="${files != null && files.length > 0}">
                    <ul class="list">
                        <li class="item" th:each="file : ${files}">
                            <a class="link" target="_blank" th:href="@{/article/file (index=${file.getIndex()})}">
                                <img alt="" class="icon" th:src="@{/resources/images/read.file.icon.png}">
                                <span class="name" th:text="${file.getName()}"></span>
                            </a>
                            <span class="size">(<th:block th:text="${T(java.lang.Math).floor(file.getSize() / 1024.0 * 100) / 100}"></th:block>KB)</span>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <div class="bottom-button-container" th:with="isAuth = ${session.user != null && (session.user.getEmail().equals(article.getUserEmail()) || session.user.isAdmin())}">
                        <a class="common-button" th:href="@{/board/list (code=${board.getCode()}, page=${page})}">목록</a>
                        <span class="spring"></span>
                        <div class="common-button modify" rel="modify" th:if="${isAuth}">수정</div>
                        <div class="common-button delete" rel="delete" th:if="${isAuth}">삭제</div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
        <form class="common-form" id="commentForm" th:with="commentRegex =${T(com.yhp.studybbs.regexes.CommentRegex)}">
            <input hidden name="articleIndex" type="hidden" th:value="${article.getIndex()}">
            <label class="label">
                <span class="text">
                    <span class="left"댓글 (<span rel="count">11</span>)</span>
                    <span class="right" rel="refresh">다시 불러오기</span>
                <span class="horizontal">
                <textarea class="common-field big" maxlength="1000" name="content" placeholder="댓글을 입력해 주세요" th:data-regex="${commentRegex.CONTENT.expression}"></textarea>
                    <input class="common-button" type="submit" value="댓글 쓰기">
                </span>
            </label>
        </form>
        <table class="comment-table" id="commentTable">
            <thead class="loading">
            <tr>
                <td>댓글을 불러오고 있습니다.</td>
            </tr>
            </thead>
            <thead class="error">
            <tr>
                <td>댓글을 불러오지 못하였습니다. 잠시후 다시 불러오기를 클릭해주세요</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="comment">
                        <div class="head">
                            <span class="nickname" rel="nickname">닉네임123</span>
                            <span class="written-at" rel="writtenAt">2023-11-24 17:24:55</span>
                            <span class="spring"></span>
                            <span class="action" rel="modify">수정</span>
                            <span class="action" rel="delete">삭제</span>
                            <div class="body">댓글 내용 댓글</div>
                            <div class="foot">
                                <span class="action" rel="vote" data-vote="up">
                                    <img alt="👍" class="icon" th:src="@{/article/resources/images/comment.vote.up.png}">
                                    <span class="value">173</span>
                                </span>
                                <span class="vote" rel="vote" data-vote="down">
                                    <img alt="" class="icon" th:src="@{/article/resources/images/comment.vote.down.png}">
                                    <span class="value">27</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<th:block th:replace="~{fragments.html :: footer}"></th:block>
</body>
</html>